
aws_primary_region = "ap-southeast-2"

resource_prefix = "AWSScheduler_"

aws_account_id = {
  running      = "123456789012"
  production   = "234567890123"
  testing      = "345678901234"
  development  = "456789012345"
}

tags = {
  Service     = "AWS Instance Scheduler"
  Environment = "Production"
  Version     = "1.4.0"
  Owner       = "TrustyPangolin"
}
